{% extends 'layout.html.twig' %}

{% block content %}

    {% if is_granted('ROLE_USER') %}
        <div class="text-right mb-2">
            <a href="{{ path('ad-new') }}" class="btn btn-primary">
                Nouvelle annonce
            </a>
        </div>
    {% endif %}

    {% include 'ad/_ad-table.html.twig' %}
{% endblock %}

{% block aside %}
    {% include '_aside.html.twig' %}
{% endblock %}
